body {
  background: url("background1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}
/*header section*/
.men {
  font-family: "system-ui";
  font-size: 20px;
  color:black;
  padding: 20px;
text-decoration: none;
}
.link{
  text-decoration: none;
}
.signin {
  width: 130px;
  height: 30px;
  float: right;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}
#img-logo{
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

#login-modal .modal-dialog{
    width: 380px;
}
#login-modal input[type=text],input[type=password]{
    margin-top: 10px;
}

.signin a {
  text-decoration: none;
  font-family: "system-ui";
  padding: 20px;
  font-size: 20px;
  color: black;
}

.signin a:hover {
  background-size: 4px 50px;
}

.headerfont {
  align-items: center;
  text-align: center;
  color: black;
  font-family: "system-ui";
  font-size: 40px;
  background: #eee9d8;
  width: 60%;
  height: 60%;
  border-radius: 20px;
}
/*menu*/

/*body section*/
section {
  margin: auto;
  height: 300px;
  align-items: center;
}

.sectionbox {

  margin-top: 40px;
  position: relative;
  width: 1200px;
  height: 600px;
  padding: 50px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.sectionmenu {
  width: 100%;
  height: 50px;
  display: block;
  margin-top: -50px;
  background: #eee9d8;
  border-radius: 10px;
  float: left;
  border: 1px solid black;
}

.sectionmenu a {
  float: left;
  padding-top: 5px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: black;
  margin-left: 90px;
  text-decoration: none;
  font-family: "system-ui";
}

.sectionmenu a:hover {
  border-bottom: 2px solid black;
  background-color: #dad7cc;
}

.sectionmenu .icon {
  display: none;
}

.sectionbody {
  margin-top: 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.sectionbody img {
  width: 100%;
  height: 90%;
}
/*furniture items*/
.img_box{
 
width: 90%;
margin: 10px auto;
position: relative;
}
.owl-carousel .owl-item.active.center{
  z-index:999;
  transform:scale(1.3);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.owl-carousel .owl-item{
  
border-radius: 20px;
  transform: scale(0.7);
  padding:10px 0px;
  transition: all 0.5s;
}
.owl-carousel .owl-item.active.center .img_box{
  border:2px solid black;
  
  -webkit-box-shadow: 33px 22px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 33px 22px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 33px 22px 9px 0px rgba(0,0,0,0.75);
}
.price{
  margin:10px;
  background-color: #b8b8b1;
  color:black;
  border:1px solid black;
  text-align: center;
  border-radius: 10px;
  font-family: 'system-ui';
}
/*footer css*/
.footer {
  width: 100%;
  background: #00121b;
  display: block;
  border: 1px solid white;
}
.slideshow h3{
  margin:auto;
}

.innterfooter {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footeritems {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "system-ui";
}

.footeritems h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: "system-ui";
}

.footeritems p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  font-family: "system-ui";
}

.footeritems h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "system-ui";
}

.border {
  height: 2px;
  width: 40px;
  background: #ff9800;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: "system-ui";
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
  font-family: "system-ui";
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
  font-family: "system-ui";
}

.socialmedia {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "system-ui";
}

.socialmedia a {
  text-decoration: none;
  font-family: "system-ui";
}

.footerbottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  font-family: "system-ui";
}
